[package]
name = "mermin-common"
version = "0.1.0"
edition = "2024"

license.workspace = true

[lib]
path = "src/lib.rs"

[features]
default = []
user = ["aya"]

[dependencies]
network-types = { path = "../network-types" }
aya = { workspace = true, optional = true }
