api:
    enabled: true
    listen_address: 0.0.0.0
    port: 8080
attributes:
    kubernetes:
        destination:
            endpoint:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - endpoint.subsets[*].addresses[*].ip
                    - from: flow
                      name: destination.port
                      to:
                        - endpoint.subsets[*].ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - endpoint.subsets[*].ports[*].protocol
            endpointslice:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - endpointslice.endpoints[*].addresses[*]
                    - from: flow
                      name: destination.port
                      to:
                        - endpointslice.ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - endpointslice.ports[*].protocol
            extract:
                metadata:
                    - '[*].metadata.name'
                    - '[*].metadata.namespace'
                    - pod.metadata.uid
            gateway:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - gateway.spec.addresses[*].value
                        - gateway.status.addresses[*].value
                    - from: flow
                      name: destination.port
                      to:
                        - gateway.spec.listeners[*].port
            ingress:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - ingress.status.loadBalancer.ingress[*].ip
                        - ingress.status.loadBalancer.ingress[*].hostname
                    - from: flow
                      name: destination.port
                      to:
                        - ingress.spec.defaultBackend.service.port
                        - ingress.spec.rules[*].http.paths[*].backend.service.port.number
            networkpolicy:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - networkpolicy.spec.ingress[*].from[*].ipBlock.cidr
                        - networkpolicy.spec.egress[*].to[*].ipBlock.cidr
                    - from: flow
                      name: destination.port
                      to:
                        - networkpolicy.spec.ingress[*].ports[*].port
                        - networkpolicy.spec.egress[*].ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - networkpolicy.spec.ingress[*].ports[*].protocol
                        - networkpolicy.spec.egress[*].ports[*].protocol
            node:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - node.status.addresses[*].address
            pod:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - pod.status.podIP
                        - pod.status.podIPs[*]
                        - pod.status.hostIP
                        - pod.status.hostIPs[*]
                    - from: flow
                      name: destination.port
                      to:
                        - pod.spec.containers[*].ports[*].containerPort
                        - pod.spec.containers[*].ports[*].hostPort
                    - from: flow
                      name: network.transport
                      to:
                        - pod.spec.containers[*].ports[*].protocol
            service:
                sources:
                    - from: flow
                      name: destination.ip
                      to:
                        - service.spec.clusterIP
                        - service.spec.clusterIPs[*]
                        - service.spec.externalIPs[*]
                        - service.spec.loadBalancerIP
                        - service.spec.externalName
                    - from: flow
                      name: destination.port
                      to:
                        - service.spec.ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - service.spec.ports[*].protocol
                    - from: flow
                      name: network.type
                      to:
                        - service.spec.ipFamilies[*]
        source:
            endpoint:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - endpoint.subsets[*].addresses[*].ip
                    - from: flow
                      name: source.port
                      to:
                        - endpoint.subsets[*].ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - endpoint.subsets[*].ports[*].protocol
            endpointslice:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - endpointslice.endpoints[*].addresses[*]
                    - from: flow
                      name: source.port
                      to:
                        - endpointslice.ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - endpointslice.ports[*].protocol
                    - from: flow
                      name: network.type
                      to:
                        - endpointslice.addressType
            extract:
                metadata:
                    - '[*].metadata.name'
                    - '[*].metadata.namespace'
                    - '[*].metadata.uid'
            gateway:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - gateway.spec.addresses[*].value
                        - gateway.status.addresses[*].value
                    - from: flow
                      name: source.port
                      to:
                        - gateway.spec.listeners[*].port
            ingress:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - ingress.status.loadBalancer.ingress[*].ip
                        - ingress.status.loadBalancer.ingress[*].hostname
                    - from: flow
                      name: source.port
                      to:
                        - ingress.spec.defaultBackend.service.port
                        - ingress.spec.rules[*].http.paths[*].backend.service.port.number
            networkpolicy:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - networkpolicy.spec.ingress[*].from[*].ipBlock.cidr
                        - networkpolicy.spec.egress[*].to[*].ipBlock.cidr
                    - from: flow
                      name: source.port
                      to:
                        - networkpolicy.spec.ingress[*].ports[*].port
                        - networkpolicy.spec.egress[*].ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - networkpolicy.spec.ingress[*].ports[*].protocol
                        - networkpolicy.spec.egress[*].ports[*].protocol
            node:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - node.status.addresses[*].address
            pod:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - pod.status.podIP
                        - pod.status.podIPs[*]
                        - pod.status.hostIP
                        - pod.status.hostIPs[*]
                    - from: flow
                      name: source.port
                      to:
                        - pod.spec.containers[*].ports[*].containerPort
                        - pod.spec.containers[*].ports[*].hostPort
                    - from: flow
                      name: network.transport
                      to:
                        - pod.spec.containers[*].ports[*].protocol
            service:
                sources:
                    - from: flow
                      name: source.ip
                      to:
                        - service.spec.clusterIP
                        - service.spec.clusterIPs[*]
                        - service.spec.externalIPs[*]
                        - service.spec.loadBalancerIP
                        - service.spec.externalName
                    - from: flow
                      name: source.port
                      to:
                        - service.spec.ports[*].port
                    - from: flow
                      name: network.transport
                      to:
                        - service.spec.ports[*].protocol
                    - from: flow
                      name: network.type
                      to:
                        - service.spec.ipFamilies[*]
auto_reload: false
discovery:
    exclude_instrument: []
    instrument:
        - k8s_kind: Service
        - k8s_kind: Endpoint
        - k8s_kind: EndpointSlice
        - k8s_kind: Gateway
        - k8s_kind: Ingress
        - k8s_kind: Pod
        - k8s_kind: ReplicaSet
        - k8s_kind: Deployment
        - k8s_kind: Daemonset
        - k8s_kind: StatefulSet
        - k8s_kind: Job
        - k8s_kind: CronJob
        - k8s_kind: NetworkPolicy
    k8s_owner:
        exclude_kinds:
            - EndpointSlice
        include_kinds:
            - Service
        max_depth: 5
    k8s_selector:
        - k8s_kind: NetworkPolicy
          selector_match_expressions_field: spec.podSelector.matchExpressions
          selector_match_labels_field: spec.podSelector.matchLabels
          to: Pod
        - k8s_kind: Service
          selector_match_labels_field: spec.selector
          to: Pod
filter:
    destination:
        address:
            match: ""
            not_match: ""
        port:
            match: ""
            not_match: ""
    flow:
        connection:
            state:
                match: ""
                not_match: ""
    network:
        transport:
            match: ""
            not_match: ""
        type:
            match: ""
            not_match: ""
    source:
        address:
            match: ""
            not_match: ""
        port:
            match: ""
            not_match: ""
interfaces:
    - eth0
log_level: info
metrics:
    enabled: true
    listen_address: 0.0.0.0
    port: 10250
otel:
    traces:
        export:
            auth:
                basic:
                    pass: PASSWORD
                    user: USERNAME
            endpoint: http://otelcol:4317
            protocol: grpc
            timeout: 10s
            tls:
                ca_cert: /etc/certs/ca.crt
                client_cert: /etc/certs/cert.crt
                client_key: /etc/certs/cert.key
                enabled: false
                insecure: false
packet_channel_capacity: 1024
packet_worker_count: 2
shutdown_timeout: 5s
trace_printer: disabled
traces: {}
