api:
  enabled: true
  listen_address: 0.0.0.0
  port: 8080
attributes:
  destination:
    k8s:
      association:
        endpoint:
          sources:
            - from: flow
              name: destination.ip
              to:
                - subsets[*].addresses[*].ip
            - from: flow
              name: destination.port
              to:
                - subsets[*].ports[*].port
            - from: flow
              name: network.transport
              to:
                - subsets[*].ports[*].protocol
        endpointslice:
          sources:
            - from: flow
              name: destination.ip
              to:
                - endpoints[*].addresses[*]
            - from: flow
              name: destination.port
              to:
                - ports[*].port
            - from: flow
              name: network.transport
              to:
                - ports[*].protocol
        gateway:
          sources:
            - from: flow
              name: destination.ip
              to:
                - spec.addresses[*].value
                - status.addresses[*].value
            - from: flow
              name: destination.port
              to:
                - spec.listeners[*].port
        ingress:
          sources:
            - from: flow
              name: destination.ip
              to:
                - status.loadBalancer.ingress[*].ip
                - status.loadBalancer.ingress[*].hostname
            - from: flow
              name: destination.port
              to:
                - spec.defaultBackend.service.port
                - spec.rules[*].http.paths[*].backend.service.port.number
        networkpolicy:
          sources:
            - from: flow
              name: destination.ip
              to:
                - spec.ingress[*].from[*].ipBlock.cidr
                - spec.egress[*].to[*].ipBlock.cidr
            - from: flow
              name: destination.port
              to:
                - spec.ingress[*].ports[*].port
                - spec.egress[*].ports[*].port
            - from: flow
              name: network.transport
              to:
                - spec.ingress[*].ports[*].protocol
                - spec.egress[*].ports[*].protocol
        node:
          sources:
            - from: flow
              name: destination.ip
              to:
                - status.addresses[*].address
        pod:
          sources:
            - from: flow
              name: destination.ip
              to:
                - status.podIP
                - status.podIPs[*]
                - status.hostIP
                - status.hostIPs[*]
            - from: flow
              name: destination.port
              to:
                - spec.containers[*].ports[*].containerPort
                - spec.containers[*].ports[*].hostPort
            - from: flow
              name: network.transport
              to:
                - spec.containers[*].ports[*].protocol
        service:
          sources:
            - from: flow
              name: destination.ip
              to:
                - spec.clusterIP
                - spec.clusterIPs[*]
                - spec.externalIPs[*]
                - spec.loadBalancerIP
                - spec.externalName
            - from: flow
              name: destination.port
              to:
                - spec.ports[*].port
            - from: flow
              name: network.transport
              to:
                - spec.ports[*].protocol
            - from: flow
              name: network.type
              to:
                - spec.ipFamilies[*]
      extract:
        metadata:
          - "[*].metadata.name"
          - "[*].metadata.namespace"
          - pod.metadata.uid
  source:
    k8s:
      association:
        endpoint:
          sources:
            - from: flow
              name: source.ip
              to:
                - subsets[*].addresses[*].ip
            - from: flow
              name: source.port
              to:
                - subsets[*].ports[*].port
            - from: flow
              name: network.transport
              to:
                - subsets[*].ports[*].protocol
        endpointslice:
          sources:
            - from: flow
              name: source.ip
              to:
                - endpoints[*].addresses[*]
            - from: flow
              name: source.port
              to:
                - ports[*].port
            - from: flow
              name: network.transport
              to:
                - ports[*].protocol
            - from: flow
              name: network.type
              to:
                - addressType
        gateway:
          sources:
            - from: flow
              name: source.ip
              to:
                - spec.addresses[*].value
                - status.addresses[*].value
            - from: flow
              name: source.port
              to:
                - spec.listeners[*].port
        ingress:
          sources:
            - from: flow
              name: source.ip
              to:
                - status.loadBalancer.ingress[*].ip
                - status.loadBalancer.ingress[*].hostname
            - from: flow
              name: source.port
              to:
                - spec.defaultBackend.service.port
                - spec.rules[*].http.paths[*].backend.service.port.number
        networkpolicy:
          sources:
            - from: flow
              name: source.ip
              to:
                - spec.ingress[*].from[*].ipBlock.cidr
                - spec.egress[*].to[*].ipBlock.cidr
            - from: flow
              name: source.port
              to:
                - spec.ingress[*].ports[*].port
                - spec.egress[*].ports[*].port
            - from: flow
              name: network.transport
              to:
                - spec.ingress[*].ports[*].protocol
                - spec.egress[*].ports[*].protocol
        node:
          sources:
            - from: flow
              name: source.ip
              to:
                - status.addresses[*].address
        pod:
          sources:
            - from: flow
              name: source.ip
              to:
                - status.podIP
                - status.podIPs[*]
                - status.hostIP
                - status.hostIPs[*]
            - from: flow
              name: source.port
              to:
                - spec.containers[*].ports[*].containerPort
                - spec.containers[*].ports[*].hostPort
            - from: flow
              name: network.transport
              to:
                - spec.containers[*].ports[*].protocol
        service:
          sources:
            - from: flow
              name: source.ip
              to:
                - spec.clusterIP
                - spec.clusterIPs[*]
                - spec.externalIPs[*]
                - spec.loadBalancerIP
                - spec.externalName
            - from: flow
              name: source.port
              to:
                - spec.ports[*].port
            - from: flow
              name: network.transport
              to:
                - spec.ports[*].protocol
            - from: flow
              name: network.type
              to:
                - spec.ipFamilies[*]
      extract:
        metadata:
          - "[*].metadata.name"
          - "[*].metadata.namespace"
          - "[*].metadata.uid"
auto_reload: false
discovery:
  informer:
    k8s:
      owner_relations:
        exclude_kinds:
          - EndpointSlice
        include_kinds:
          - Service
        max_depth: 5
      selector_relations:
        - kind: NetworkPolicy
          selector_match_expressions_field: spec.podSelector.matchExpressions
          selector_match_labels_field: spec.podSelector.matchLabels
          to: Pod
        - kind: Service
          selector_match_labels_field: spec.selector
          to: Pod
      selectors:
        - kind: Service
        - kind: Endpoint
        - kind: EndpointSlice
        - kind: Gateway
        - kind: Ingress
        - kind: Pod
        - kind: ReplicaSet
        - kind: Deployment
        - kind: Daemonset
        - kind: StatefulSet
        - kind: Job
        - kind: CronJob
        - kind: NetworkPolicy
filter:
  destination:
    address:
      match: ""
      not_match: ""
    port:
      match: ""
      not_match: ""
  flow:
    connection:
      state:
        match: ""
        not_match: ""
  network:
    transport:
      match: ""
      not_match: ""
    type:
      match: ""
      not_match: ""
  source:
    address:
      match: ""
      not_match: ""
    port:
      match: ""
      not_match: ""
informer:
  k8s:
    informers_resync_period: 30m
    informers_sync_timeout: 30s
    kubeconfig_path: ""
log_level: info
metrics:
  enabled: true
  listen_address: 0.0.0.0
  port: 10250
export:
  traces:
    otlp:
      auth:
        basic:
          pass: PASSWORD
          user: USERNAME
      endpoint: http://otelcol:4317
      protocol: grpc
      timeout: 10s
      tls:
        ca_cert: /etc/certs/ca.crt
        client_cert: /etc/certs/cert.crt
        client_key: /etc/certs/cert.key
        enabled: false
        insecure: false
    stdout: ""
packet_channel_capacity: 1024
packet_worker_count: 2
parser:
  geneve_port: 6081
  vxlan_port: 4789
  wireguard_port: 51820
shutdown_timeout: 5s
internal:
  traces:
    otlp:
      auth:
        basic:
          pass: PASSWORD
          user: USERNAME
      endpoint: http://otelcol:4317
      protocol: grpc
      timeout: 10s
      tls:
        ca_cert: /etc/certs/ca.crt
        client_cert: /etc/certs/cert.crt
        client_key: /etc/certs/cert.key
        enabled: false
        insecure: false
    span_format: full
    stdout: ""
