{{- if .Values.config.content }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mermin.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mermin.labels" . | nindent 4 }}
data:
  config.hcl: |
    {{- tpl .Values.config.content . | nindent 4 }}
{{- end }}
