apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "mermin.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "mermin.labels" . | nindent 4 }}
spec:
  updateStrategy:
    {{- .Values.updateStrategy | toYaml | nindent 4 }}
  selector:
    matchLabels:
      {{- include "mermin.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if or .Values.podAnnotations .Values.config.restartOnConfigChange }}
      annotations:
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if and .Values.config.content .Values.config.restartOnConfigChange }}
        config_sha: {{ tpl .Values.config.content . | nindent 4 | sha256sum }}
        {{- end }}
      {{- end }}
      labels:
        {{- include "mermin.selectorLabels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      hostNetwork: {{ .Values.hostNetwork }}
      hostPID: {{ .Values.config.hostPidEnrichment }}
      {{- if .Values.serviceAccount.create }}
      serviceAccountName: {{ include "mermin.serviceAccountName" . }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports: {{ .Values.ports | toYaml | nindent 12 }}
          {{- if or .Values.config.content .Values.extraArgs }}
          args:
            {{- if .Values.config.content }}
            - "--config"
            - "/etc/mermin/config.hcl"
            {{- end }}
            {{- with .Values.extraArgs }}
            {{ toYaml . | nindent 12 }}
            {{- end }}
          {{- end }}
          env:
            - name: POD_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: MERMIN_PLATFORM
              value: "kubernetes"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: bpf-fs
              mountPath: /sys/fs/bpf
              readOnly: false
            {{- if .Values.config.content }}
            - name: mermin-config
              mountPath: /etc/mermin
              readOnly: true
            {{- end }}
      volumes:
        - name: bpf-fs
          hostPath:
            path: /sys/fs/bpf
            type: DirectoryOrCreate
        {{- if .Values.config.content }}
        - name: mermin-config
          configMap:
            name: {{ include "mermin.fullname" . }}-config
        {{- end }}
