name: E2E CNI Tests

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  run-e2e-tests:
    uses: ./.github/workflows/reusable-cni-tests.yml
    with:
      cni-list: '["calico", "cilium", "flannel", "kindnetd"]'
