---
name: Release Mermin NetObserv OpenSearch stack chart
concurrency:
  group: release-mermin-netobserv-os-stack-${{ github.ref }}
  cancel-in-progress: false
on:
  push:
    branches:
      - main
      - alpha
      - beta
    paths:
      - 'charts/mermin-netobserv-os-stack/**/*'
      - '.github/workflows/release_mermin-netobserv-os-stack.yaml'

env:
  BRANCH_TAG_PREFIXES: |
    {
        "alpha": "mermin-netobserv-os-stack-0.1.0-alpha.",
        "beta": "mermin-netobserv-os-stack-0.1.0-beta.",
        "main": "mermin-netobserv-os-stack-"
    }


jobs:
  set_standard_vars:
    name: Set standard vars
    runs-on: ubuntu-latest
    outputs:
      tag_prefix: ${{ steps.set_standard_vars.outputs.tag_prefix }}
    steps:
      - uses: actions/checkout@v4
      - name: set outputs with default values
        id: set_standard_vars
        run: |
          echo "tag_prefix=${{ fromJson(env.BRANCH_TAG_PREFIXES)[github.ref_name] }}" >> $GITHUB_OUTPUT

  release:
    name: Release mermin-netobserv-os-stack
    uses: ./.github/workflows/reusable_release_chart.yaml
    needs: [set_standard_vars]
    permissions:
      contents: write
      pull-requests: write
    with:
      tag_prefix: ${{ needs.set_standard_vars.outputs.tag_prefix }}
      chart_name: mermin-netobserv-os-stack
      chart_dir: charts/mermin-netobserv-os-stack
      include_paths: "charts/mermin-netobserv-os-stack/**/*"
      chart_yaml_version_keys: '.version,.appVersion'
    secrets: inherit
